:root {
  --aqua: #00ffffa3;
  --primary-color: rgba(79, 81, 83, 0.911);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 75px;
  background-color: rgba(79, 81, 83, 0.911);
}

.menu nav {
  display: flex;
  margin-right: 50px;
}

.menu a {
  display: inline;
  border-bottom-style: solid;
  text-decoration: none;
  color: var(--aqua);
  font-family: arial;
  margin-right: 5px;
  padding: 5px;
}

.menu h1 {
  display: flex;
  justify-content: center;
  width: 25%;
  background-color: var(--aqua);
  color: rgba(79, 81, 83, 0.911);
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
 margin-bottom: 20px;
}

.hero-banner h2 {
  background-color: var(--aqua);
  display: flex;
  align-items: center;
  margin-right: 25px;
  
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.p-style{
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 2;
 
}

.page-section {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  border-right: solid;  
  margin-bottom: 50px;
  padding: 10px;
}

.page-section h2 {
  height: 200px;
 
}

.work-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  border: 5px solid #00ffffa3;
  margin: 0px 15px 10px 25px;
 
}

.work-div1 {
  background-image: url("../images/02-portfolio-4.jpg");
  height: 500px;
  width: 100%;
}

.work-div1:hover{
  opacity: 0.7;
  cursor: pointer;
}

.work-div2 {
  background-image: url("../images/02-portfolio-1.jpg");
  height: 150px;
}

.work-div2:hover{
  opacity: 0.7;
  cursor: pointer;
}

.work-div3 {
  background-image: url("../images/02-portfolio-2.jpg");
  height: 150px;
}

.work-div3:hover{
  opacity: 0.7;
  cursor: pointer;
}

.work-div4 {
  background-image: url("../images/02-portfolio-3.jpg");
  height: 150px;
}
.work-div4:hover{
  opacity: 0.7;
  cursor: pointer;
}

.work-div5 {
  background-image: url("../images/02-run-buddy.jpg");
  height: 150px;
}
.work-div5:hover{
  opacity: 0.7;
  cursor: pointer;
}

.float-text {
  background-color: var(--aqua);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 10px 10px 0px;
  height: 50px;
}

.span-text {
  font-size: 10px;
}


/*continue the footer design here*/

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap; 
  margin-top: 20px;
}

.contact {
  height: 75px;  
  margin-top: 20px;
}

.footer a {
  display: inline;
  border-bottom-style: solid;
  text-decoration: none;
  margin: 10px 100px 0px 20px;
  color: var(--primary-color);
  font-size: 20px;
  
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
